* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
  background: #93c8d2c3;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.start-values {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.get-values {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.delet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.button {
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  transform: scale(1.03, 1.03);
}

.table {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table #transp,
#house,
#education,
#others {
  margin-top: 5px;
}
